openapi: "3.0.3"
info:
  title: Europäisches OpenData-Portal Schnittstelle
  description: >-
    Dies ist die Beschreibung für die Schnittstelle zum Zugriff auf die Daten des Europäischen OpenData-Portals im Rahmen der OpenData Initiative.


    Deaktivierung:
      Die Schnittstelle kann deaktiviert werden, in dem Fall wird ein leeres JSON zurückgegeben.

    Fehlerfall:
     Im Fehlerfall wird ein leeres JSON Objekt zurückgegeben.

  contact:
    name: Thomas Tursics
    email: thomas@tursics.de
  version: 1.0.0

servers:
  - url: 'https://data.europa.eu/api/hub'
    description: Das offizielle Portal für Daten zu Europa
  - url: 'https://www.sozial-informations-system.de/api'
    description: Prototyp Sozial-Informations-System Berlin

paths:
  /search/search:
    get:
      summary: tbd.
      description: tbd.
      parameters:
        - name: q
          in: query
          description: Suchtext
          required: false
          allowEmptyValue: true
          schema:
            type: string
        - name: filter
          in: query
          description: 'Zeige alle Datensätze "dataset" oder Kataloge "catalogue". Default: dataset'
          required: false
          schema:
            type: string
            enum: [dataset, catalogue]
        - name: limit
          example: 15
          in: query
          description: 'Anzahl Datensätze pro Seite. Default: 15'
          required: false
          schema:
            type: integer
        - name: page
          example: 0
          in: query
          description: 'Aktuelle Seite. Default: 0'
          required: false
          schema:
            type: integer
        - name: sort
          in: query
          description: 'Aktuelle Sortierung, Beispiele sind relevance%2Bdesc,+modification_date%2Bdesc,+title.de%2Basc und deadline%2Bdesc,relevance%2Bdesc,modification_date%2Bdesc,title.en%2Basc'
          required: false
          schema:
            type: string
        - name: facetOperator
          in: query
          description: 'Operator für die Filtereinstellung. UND oder ODER. Default: AND'
          required: false
          schema:
            type: string
            enum: [AND, OR]
        - name: facetGroupOperator
          in: query
          description: 'Operator für ???. UND oder ODER. Default: AND'
          required: false
          schema:
            type: string
            enum: [AND, OR]
        - name: facets
          in: query
          description: '??? Beispiele sind %7B%22country%22:[],%22catalog%22:[],%22categories%22:[],%22keywords%22:[],%22scoring%22:[],%22format%22:[],%22license%22:[]%7D und %7B%22type%22:[],%22legalBase%22:[],%22geocodingDescription%22:[],%22keywords%22:[],%22format%22:[]%7D und %7B%22country%22:[],%22catalog%22:[%22govdata%22],%22categories%22:[],%22keywords%22:[],%22scoring%22:[],%22format%22:[],%22license%22:[]%7D'
          required: false
          schema:
            type: string
        - name: includes
          in: query
          description: '??? Beispiel ist id,title.de,description.de,languages,modification_date,release_date,catalog.id,catalog.title,catalog.country.id,distributions.format.title,distributions.format.id'
          required: false
          schema:
            type: string
        - name: globalAggregation
          in: query
          description: '???'
          required: false
          example: false
          schema:
            type: boolean
      responses:
        '200':
          description: Erfolgreich
          content:
            text/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ResponseSearch'
  '/search/datasets/{datasetId}':
    get:
      summary: tbd.
      parameters:
        - name: datasetId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Erfolgreich
components:
  schemas:
    Empty:
      title: Fehler/Leer
      type: object
      description: >-
        Wird zurückgegeben im Fehlerfall oder wenn die Schnittstelle deaktiviert wurde
    ResponseSearch:
      type: object
      title: Antwort mit Datensatzliste
      properties:
        success:
          type: boolean
          example: true
        result:
          type: object
          properties:
            index:
              type: string
              example: 'dataset'
            count:
              type: integer
              example: 1
            facets:
              type: array
              items:
                type: object
            results:
              type: array
              description: Liste der Datensätze
              items:
                $ref: '#/components/schemas/SearchDataset'
    CountryNetherlands:
      type: object
      properties:
        title:
          type: string
          example: 'Netherlands'
        id:
          type: string
          example: 'nl'
    SearchDataset:
      type: object
      properties:
        country:
          $ref: '#/components/schemas/CountryNetherlands'
        keywords:
          type: object
          example: null
        catalog:
          type: object
          properties:
            license:
              type: object
              example: null
            country:
              $ref: '#/components/schemas/CountryNetherlands'
            spatial_resource:
              type: object
              example: null
            description:
              type: object
              properties:
                en:
                  type: object
                  example: 'Open Data Portal Netherlands'

      type: object
      properties:
        lastModified:
          type: number
          description: Zeitstempel der letzten Änderung
          example: 1499681492000
        title:
          type: string
          description: Titel
          example: Botschaft der Musterstaaten
        leader:
          type: string
          description: Leiter
          example: Herr/Frau Mustermann/-frau
        locales:
          type: string
          description: Sprachen
          example: 'Deutsch, Englisch'
        country:
          type: string
          description: Land
          example: Deutschland
        zip:
          type: string
          description: Postleitzahl
          example: '12345'
        city:
          type: string
          description: Stadt
          example: Musterstadt
        region:
          type: string
          description: Region
          example: Musterregion
        street:
          type: string
          description: Straße
          example: Hauptstraße
        number:
          type: string
          description: Hausnummer
          example: '12'
        departments:
          type: string
          description: Abteilungen
          example: Handelsabteilung Tel. +49
        fax:
          type: string
          description: Faxnummer
          example: +49 123 456789
        telefone:
          type: string
          description: Telefonnummer
          example: +49 123 456789
        mail:
          type: string
          description: E-Mail
          example: extern@diplo.de
        misc:
          type: string
          description: Sonstiges
          example: Sonstige Anmerkungen
        url:
          type: string
          description: Externer Link
          example: 'https://extern.diplo.de'
        postal:
          type: string
          description: Postfach
          example: 'Hauptstraße 12, 12345 Musterstadt'
        type:
          type: string
          description: Adresstyp
          example: Botschaft
        remark:
          type: string
          description: Hinweis
          example: Sonntag geschlossen
        open:
          type: string
          description: Öffnungszeiten
          example: '10:00-18:00'